.iconEdit {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: rgb(0, 0, 0);
}

.iconDelete {
  position: absolute;
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 6px;
  bottom: 6px;
  color: rgb(179, 37, 37);
  font-weight: bold;
}

.cardLink {
  /* border: 2px solid red; */
  width: 220px; /* ancho fijo */
  height: 80px; /* alto fijo */
  position: relative;
  padding: 10px 32px 10px 10px;
  border-radius: 8px;
  /* background-color: rgb(249, 245, 159); */
  /* box-shadow: 0 4px 6px rgba(248, 247, 236, 0.5); */
  color: black;
  font-size: small;
  /* overflow: hidden; */
}
@media (max-width: 480px) {
  .cardLink {
    width: 100%;
  }
}
input {
  border: none;
  border-radius: 6px;
  padding: 6px;
}
.textRow {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
}

.textContent {
  flex: 1; /* ocupa todo el espacio disponible */
  white-space: nowrap; /* evita que el texto se rompa en varias líneas */
  /* overflow: hidden; oculta el texto que se desborda */
  text-overflow: ellipsis; /* muestra puntos suspensivos cuando el texto es muy largo */
}
