.loginView {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(/public/rrss.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 320px;
  padding: 0.6rem;
}

.leftContent {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

p {
  font-size: 18px;
  font-family: "Protest Riot", sans-serif;
  color: #333333;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: black;
}

.rightContent {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid green; */
}

.btn {
  background-color: #174572;
  color: #fff;
  border: none;
  padding: 8px 54px;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: none;
  box-shadow: 0 4px 6px rgba(10, 10, 10, 0.5);
  /* border: 2px solid green; */
  margin-top: 1rem;
}

/* Colores Google */
.googlelogo .g1,
.googlelogo .g2 {
  color: #4285f4; /* Azul para las G */
}

.googlelogo .o1 {
  color: #db4437; /* Rojo para la primera O */
}

.googlelogo .o2 {
  color: #f4b400; /* Amarillo para la segunda O */
}

.googlelogo .l {
  color: #0f9d58; /* Verde para la L */
}

.googlelogo .e {
  color: #db4437; /* Rojo para la E */
}

.btn:hover {
  transform: none;
  background-color: #0b0f13; /* Tono ligeramente más oscuro */
  font-weight: bold;
}

.loading {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

@media (max-width: 768px) {
  .loginView {
    background-color: #b3dbeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }

  .leftContent,
  .rightContent {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }

  .loginView p {
    font-size: 20px;
  }
  .logo {
    width: 200px;
  }

  .btn {
    width: 80%;
    padding: 10px;
  }
}
