.container {
  background-image: url(/public/malena-gonzalez.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;

  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
