.container {
  color: white;
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #83a6a8;
}

.logo {
  position: absolute;
  left: 1rem;
  width: 100px;
  bottom: 0.5rem;
}
